---
import { getGistGroup } from "../lib"
import { Code } from "../ExpressiveCode";

export interface Props {
    /** REQUIRED: Used to define the desired GitHub Gist ID */
    gistId: string;
    /** OPTIONAL: Allows the user to Enable and Disable LineNumbers
     * @default true
     */
    showLineNumbers?: boolean;
    /** OPTIONAL: Allows the user to Enable and Disable LineWrapping
     * @default true
     */
    wrap?: boolean;
}

const { gistId, wrap, showLineNumbers } = Astro.props as Props;

const WRAP = wrap ? wrap : wrap === undefined ? true : false;
const SLN = showLineNumbers ? showLineNumbers : showLineNumbers === undefined ? true : false;

const Gist = await getGistGroup(gistId);

const files = Gist.files;
---
{ Gist && (
    <div>
        {Object.keys(files).map((file) => {
            const { content, filename, language, raw_url } = files[file];
            return (
                <Code
                    title={filename} wrap={WRAP}
                    code={content} raw_url={raw_url}
                    lang={language.toLowerCase()} 
                    showLineNumbers={SLN}
                />
            );
        })}
    </div>
) }

